// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: lightgreen;
	font-family: arial;
}

h2,
h1 {
	text-align: center;
}

h2 {
	color: #7573c0;
}

.image, 
.info {
	width: 300px;
	margin: 0 auto;
}

.info {
	margin-top: 20px;
}

.carousel {
	width: 70%;
	margin: 0 auto;
}
