<p id="notice"><%= notice %></p>

<h1 id="title">Summer favourites!</h1>
  <div class="container-fluid">
    <div class="row">
      <%= render @products %>
    </div>
  </div>

<br>
<div class="new-product btn btn-default"><%= link_to 'New Product', new_product_path %></div>
<br>
<br>
<br>
<br>
